* {
    /*border: 1px dotted yellow;*/
}


body {
      position: relative; 
  }

  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }


  .navbar {
      margin-bottom: 0px;
  }

  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }
  #section1 {padding-top:30px;height:auto;}
  #section2 {padding-top:30px;height:auto;}
  #section3 {padding-top:30px;height:auto;}
  #section41 {padding-top:30px;height:auto;}
  #section42 {padding-top:30px;height:auto;}

#section2 .img-circle {
    max-height: 200px;
    max-width: 200px;
}


